services:
{% if config['advanced.ldap']['enable'] and config['advanced.ldap']['deployment_type'] == 'self-hosted' %}
  ldap:
    image: osixia/openldap
    # image: cleanstart/openldap
    container_name: ldap_server
    ports:
      - "{{ config['advanced.ldap']['port'] }}:389"
{% if config['advanced.ldap']['enable_lts']%}
      - "{{ config['advanced.ldap']['ldaps_port'] }}:636"
{% endif %}
    environment:
      - LDAP_MEMBEROF=true
      - LDAP_REFINT=true
      - LDAP_REMOVE_CONFIG_AFTER_SETUP= true
      - LDAP_RFC2307BIS_SCHEMA=true
      - LDAP_DOMAIN={{ config['gateway']['domain'] }}
      - LDAP_ADMIN_PASSWORD=${LDAP_ADMIN_PASS}
      - LDAP_ORGANISATION=Record
      - LDAP_TLS={{ 'true' if config['advanced.ldap']['enable_tls'] else 'false' }}
    volumes:
# {% if config['advanced.ldap']['deployment_type'] == 'self-hosted' %}
#       - {{ config['drop.outputs']['ldap-memberof-ldif'] }}:/container/service/slapd/assets/config/memberof.ldif:rw
# {% endif %}
      - {{ config['drop.mounts']['ldap_data'] }}:/var/lib/ldap:rw
      - {{ config['drop.mounts']['ldap_config'] }}:/etc/ldap/slapd.d:rw
    restart: always
    expose:
      - 389
      - 636
{% endif %}
{% if config['advanced.ldap.ui']['enable'] %}
  ldap_ui:
    image: osixia/phpldapadmin
    container_name: ldap_ui
    ports:
      - "{{ config['advanced.ldap']['ui_port'] }}:80"
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS={{ config['advanced.ldap']['host'] }}
      - PHPLDAPADMIN_HTTPS={{ 'true' if config['advanced.ldap']['enable_tls'] else 'false' }}
{% if config['advanced.ldap']['enable'] %}
    depends_on:
      - ldap
{% endif %}
{% endif %}
{% if config['gateway']['proxy'] %}
  gateway:
    container_name: gateway_proxy
    image: nginx:1.25.2
    restart: always
    ports:
      - "{{ config['gateway.nginx.ports']['http'] }}:80"
{% if config['gateway.nginx.https']['enable'] %}
      - "{{ config['gateway.nginx.ports']['https'] }}:443"
{% endif %}
    volumes:
      - {{ config['drop.outputs']['nginx_conf'] }}:/etc/nginx/conf.d/default.conf:ro
      - {{ config['drop.mounts']['nginx'] }}:/etc/nginx/conf.d
{% if config['gateway.nginx.https']['enable'] == True %}
      - {{ config['drop.mounts']['certs'] }}:/etc/ssl/certs
{% endif %}
    depends_on:
      - knowage
    networks:
      - frontend
    healthcheck:
      test: ["CMD", "curl", "--fail",  "http://localhost || exit 1"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
{% endif%}
  db:
    image: postgres:17.5-alpine
    container_name: pg_database
    restart: always
{% if config['advanced.db']['expose'] == True %}
    ports:
      - "{{ config['advanced.db']['port'] }}:5432"
{% endif %}
    expose:
      - 5432
    # env_file:
    #   - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
      PG_DATA: /var/lib/postgresql/data
    volumes:
      # - {{ config['drop.mounts']['db_data'] }}:/var/lib/postgresql/data:rw
      - {{ config['drop.mounts']['backup']}}:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "$POSTGRES_USER", "-d", "$POSTGRES_DB"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    networks:
      - backend
  cache:
    image: mysql:8.0.41-debian
    container_name: cache_database
    restart: always
    # env_file:
    #   - .env
    networks:
      - knowage_net
    environment:
      MYSQL_USER: ${CACHE_USER}
      MYSQL_PASSWORD: ${CACHE_PASS}
      MYSQL_ROOT_PASSWORD: ${CACHE_ROOT_PASS}
      MYSQL_DATABASE: ${CACHE_DB_NAME}
    # volumes:
    #   - {{ config['drop.mounts']['cache_data'] }}:/var/lib/mysql:rw
    expose:
      - 3306
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
  knowage:
    container_name: knowage
    # env_file:
    #   - .env
    networks:
      - knowage_net
      - frontend
      - backend
    image: knowagelabs/knowage-server-docker:8.2-SNAPSHOT
    restart: always
    depends_on:
      - cache
      - db
    volumes:
      - {{ config['drop.outputs']['ldap-connector'] }}:/opt/tomcat/conf/ldap.properties
    environment:
      JAVA_OPTS: ${JAVA_OPTS} -Dldap.config=/opt/tomcat/conf/ldap.properties
      DB_USER: ${CACHE_USER}
      DB_PASS: ${CACHE_PASS}
      DB_ROOT_PASS: ${CACHE_ROOT_PASS}
      DB_HOST: cache
      DB_PORT: 3306
      DB_DB: ${CACHE_DB_NAME}
      PASSWORD_ENCRYPTION_SECRET: ${PASSWORD_ENCRYPTION_SECRET}
      HMAC_KEY: ${HMAC_KEY}
      SENSIBLE_DATA_ENCRYPTION_SECRET: ${SENSIBLE_DATA_ENCRYPTION_SECRET}
      CACHE_DB_DB: ${CACHE_DB_NAME}
      CACHE_DB_PORT: 3306
      CACHE_DB_USER: ${CACHE_USER}
      CACHE_DB_PASS: ${CACHE_PASS}
      CACHE_DB_HOST: cache
{% if config['advanced.ldap']['enable'] %}
      SSO_CLASS=it.eng.spagobi.security.ProfiledLdapSecurityServiceSupplier
{% endif %}
      PUBLIC_ADDRESS: {{ config['gateway.knowage']['sub_domain'] }}.{{ config['gateway']['domain'] }}
{% if not config['gateway']['proxy'] %}
    domainname: {{ config['gateway.knowage']['sub_domain'] }}.{{ config['gateway']['domain'] }}
{% endif %}
{% if config['gateway.knowage']['expose'] %}
    ports:
      - "{{ config['gateway.knowage']['port'] }}:8080"
{% endif %}

networks:
  knowage_net:
    driver: bridge
  frontend:
    driver: bridge
  backend:
    driver: bridge