INITIAL_CONTEXT_FACTORY    = com.sun.jndi.ldap.LdapCtxFactory
PROVIDER_URL               = ldap{{'s' if config['advanced.ldap']['enable_tls'] else '' }}://{{ config['advanced.ldap']['host']}}:{{ config['advanced.ldap']['port'] }}
SECURITY_AUTHENTICATION    = simple
DN_PREFIX                  = {{ config['ldap.dn']['prefix'] }}
DN_POSTFIX                 = ,{{ config['ldap.dn']['suffix'] }}
SEARCH_USER_BEFORE         = true
SEARCH_USER_BEFORE_USER    = cn=admin,{{ config['ldap.dn']['base'] }}
SEARCH_USER_BEFORE_PSW     = ${LDAP_ADMIN_PASSWORD}
SEARCH_USER_BEFORE_FILTER  = (&(objectclass=inetOrgPerson)(uid=%s))
BASE_DN                    = {{ config['ldap.dn']['base'] }}
AUTHENTICATION_FILTER      = (&(description=STATUS_ACTIVE))
USER_ROLES_ATTRIBUTE_NAME  = {{ config['ldap.attrs']['role_name'] }}
USER_ROLES_ATTRIBUTE_FIELD = {{ config['ldap.attrs']['role_field'] }}
SUPERADMIN_ATTRIBUTE       = {{ config['ldap.attrs']['superuser'] }}