services:
  # --- 1. NGINX REVERSE PROXY ---
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/fullchain.pem:/etc/nginx/certs/fullchain.pem:ro
      - ./nginx/privkey.pem:/etc/nginx/certs/privkey.pem:ro
    networks:
      - ldap_net
    depends_on:
      - ldap_ui
      - knowage_app

  ldap:
    image: osixia/openldap:latest
    # image: brinestone/openldap:v2
    environment:
      LDAP_ORGANISATION: Record
      LDAP_DOMAIN: record.cm
      LDAP_ADMIN_PASSWORD: passpass
      LDAP_TLS: "false"
      LDAP_BASE_DN: dc=record,dc=cm
      LDAP_MODULES: "memberof,refint,ppolicy"
      LDAP_MEMBEROF_ATTRIBUTE: member
      LDAP_MEMBEROF_OBJECTCLASS: groupOfNames
    volumes:
      - ./ldap/startup.sh:/docker-entrypoint-initdb.d/01-configure-overlays.sh
      - ./ldap/seed:/container/service/slapd/assets/config/bootstrap/ldif/custom:ro
    command: ["--copy-service"]
    networks:
      - ldap_net
    ports:
      - 7500:389
    expose:
      - 389
      - 636

  ldap_ui:
    image: osixia/phpldapadmin:latest
    container_name: ldap_ui
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: ldap
      PHPLDAPADMIN_HTTPS: "false"
    networks:
      - ldap_net
    expose:
      - 80
    restart: unless-stopped
    depends_on:
      - ldap

  cache:
    image: mysql:8.0.41-debian
    restart: always
    ports:
      - "3306:3306"
    networks:
      - meta_net
      - backend
    environment:
      MYSQL_USER: ${CACHE_USER}
      MYSQL_PASSWORD: ${CACHE_PASS}
      MYSQL_ROOT_PASSWORD: ${CACHE_ROOT_PASS}
      MYSQL_DATABASE: ${CACHE_DB_NAME}
    expose:
      - 3306
    healthcheck:
      test: ["CMD", "/usr/local/bin/healthcheck.sh", "--user=root", "--password=$MYSQL_ROOT_PASSWORD"]
      # test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 10s
      retries: 5

  knowage_app:
    image: knowagelabs/knowage-server-docker:9.1-SNAPSHOT
    environment:
      DB_USER: ${CACHE_USER}
      DB_PASS: ${CACHE_PASS}
      DB_ROOT_PASS: ${CACHE_ROOT_PASS}
      DB_HOST: cache
      DB_PORT: 3306
      DB_DB: ${CACHE_DB_NAME}
      PASSWORD_ENCRYPTION_SECRET: ${PASSWORD_ENCRYPTION_SECRET}
      HMAC_KEY: ${HMAC_KEY}
      SENSIBLE_DATA_ENCRYPTION_SECRET: ${SENSIBLE_DATA_ENCRYPTION_SECRET}
      CACHE_DB_DB: ${CACHE_DB_NAME}
      CACHE_DB_PORT: 3306
      CACHE_DB_USER: ${CACHE_USER}
      CACHE_DB_PASS: ${CACHE_PASS}
      CACHE_DB_HOST: cache
      PUBLIC_ADDRESS: https://knowage.brinestone.tech/knowage
      JAVA_OPTS: -Dldap.config=/opt/tomcat/ldap.properties
    expose:
      - 8080
    networks:
      - ldap_net
      - backend
    depends_on:
      - cache
      - ldap
    restart: always
    volumes:
      - L:\projects\civilio-backend\attempt\dist\knowage\resources:/home/knowage/apache-tomcat/resources
      - ./knowage/logs:/home/apache-tomcat/logs:rw
      - ./knowage/ldap.properties:/opt/tomcat/ldap.properties:ro


networks:
  ldap_net:
    driver: bridge
  meta_net:
    driver: bridge
  backend:
    driver: bridge